.hero {
  background: $hero-background;
  align-items: center;
  justify-content: center;
  text-align: center;
  // padding-bottom: 40px;
  padding: 0 15px 100px 15px;

  &__logo {
    height: max-content;
    margin-bottom: 50px;
    // border: 1px solid white;
  }

  &__content {
    max-width: 34rem;
    height: max-content;
  }

  &__tagline {
    font-size: calc($fs-header - 1.5rem);
    color: $header-color;
    max-width: 16ch;
    margin-bottom: 30px;
    line-height: 1.1;
    justify-self: center;
  }

  &__subtext {
    font-size: $fs-body;
    color: $body-color;
    max-width: 40ch;
    margin-bottom: 30px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.brand {
  //   justify-content: center;

  &__mark {
    width: 90%;
    aspect-ratio: 1;
    margin-bottom: 0;
    margin: auto;
  }

  &__name {
    display: grid;
    justify-items: center;
    line-height: 1;
    margin-top: -50px;
  }

  &__word {
    font-size: calc($fs-header - 1.5rem);
    font-weight: $fw-bold;
    color: $cc-indigo;
  }

  &__sub {
    font-size: 2rem;
    color: $cc-light-cyan;
    font-weight: $fw-lt;
  }
}

@media screen and (min-width: 700px) {
  .hero {
    &__tagline {
      font-size: calc($fs-header - 0.5rem);
      margin-bottom: 20px;
    }

    &__subtext {
      font-size: calc($fs-body + 0.5rem);
      margin-bottom: 30px;
    }
  }

  .brand {
    &__mark {
      width: 60%;
    }

    &__name {
      margin-top: -55px;
    }

    &__word {
      font-size: $fs-header;
    }

    &__sub {
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: 1000px) {
  .hero {
    height: 100vh;
    align-items: center;
    flex-direction: row-reverse;
    text-align: left;
    padding-left: 40px;

    &__content {
      margin-left: auto;
      margin-right: 20px;
    }

    &__tagline {
      font-size: $fs-header;
    }

    &__logo {
      margin-right: auto;
    }

    &__button {
      justify-content: left;
    }
  }

  .brand {
    display: flex;
    flex-direction: column;

    &__mark {
      width: 80%;
    }

    &__name {
      margin-top: -50px;
    }
  }
}
