.tracking {
  // handles letter spacing (tracking)
  &--12 {
    letter-spacing: 0.12rem;
  }

  &--5 {
    letter-spacing: 0.05rem;
  }
}

.line-height {
  // handles line height
  &--1-1 {
    line-height: 1.1;
  }

  &--1-5 {
    line-height: 1.5;
  }
}

.flex {
  display: flex;

  &--col {
    flex-direction: column;
  }

  &--center {
    align-items: center;
    justify-content: center;
  }
}

.shadow {
  &--box {
    // for cards and contact form
    box-shadow: (0, 8px, 20px, 20px, rgba(0, 0, 0, 0.35));
  }
}

.btn {
  padding: 10px 35px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-size: calc($fs-body - 0.5rem);
  font-weight: $fw-bold;
  transition: all 0.3s ease;

  &--primary {
    background: $button-background;
    color: $button-txt;
    box-shadow: 0px 4px 50px $cc-white-opac25;
    // box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5),
    //   -2px -2px 5px rgba(255, 255, 255, 0.5);

    &:hover {
      box-shadow: 0px 0px 75px $cc-cyan-opac50, 0px 4px 50px $cc-white-opac25;
      scale: 1.05;
    }
  }
}

.card {
  background: $gradient-boxes;
  box-shadow: (0 8px 20px 20px rgba(0, 0, 0, 0.35));
  min-height: 420px;
  margin-bottom: 30px;
  width: min(90%, 320px);
  padding: 120px 30px;
  border-radius: 5px;

  hr {
    width: 35px;
    border-color: $cc-light-cyan;
  }

  &-title {
    color: $header-color;
    font-weight: $fw-bold;
    letter-spacing: 0.05rem;
    margin-bottom: 8px;
  }

  &-content {
    margin-top: 40px;
    line-height: 1.5rem;
    color: $body-color;
  }
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  position: relative;

  &:last-child > .step__content::after {
    display: none;
  }

  &__number {
    margin-right: 12px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: $cc-light-cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 75px $cc-cyan-opac50, 0px 4px 50px $cc-white-opac25;

    p {
      font-size: 1.875rem;
      font-weight: $fw-bold;
      color: $cc-white;
    }
  }

  &__content {
    min-width: 195px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      height: 1px;
      width: 60px;
      background: $gradient-cyan;
      transform: rotate(90deg);
      bottom: -50px;
    }
  }

  &-title {
    color: $header-color;
    margin-bottom: 5px;
    letter-spacing: 0.05rem;
    font-size: 1.875rem;
  }

  &-description {
    color: $body-color;
    letter-spacing: 0.02rem;
    font-size: 0.93rem;
    line-height: 1.2rem;
    max-width: 20ch;
  }
}

@media screen and (min-width: 1000px) {
  .card {
    width: min(90%, 310px);
    // &:nth-child(2) {
    //   margin-right: 15px;
    //   margin-left: 15px;
    // }
  }
}
